.navbar-dark{
    background-color: rgb(4, 4, 80);
    color: white;
}
.btn-outline-success {
    background-color:rgb(4, 4, 80) ;
    border: 2px solid rgb(0, 102, 255);
    color:rgb(0, 102, 255) ;
}
.btn-outline-success:hover {
    background-color:rgb(7, 7, 253) ;
  
    color:rgb(251, 252, 253) ;
}
.footer{
    background-color: rgb(5, 5, 66);
    color: white;
    height: 30px;
    position: relative fixed;
    

}